<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/styles.css">
    <!-- <style>
        div {
            display: inline-block;
            vertical-align: top;
        }

        li button {
            cursor: pointer;
            outline: none;
            color: red;
        }

        li {
            border: solid;
            border-color: red;
            margin-top: 24px;
            padding: 8px;
            border-width: 1px;
            clear: both;
        }
    </style> -->
</head>

<body>
<form>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" required="required">
    <label for="description">Description</label>
    <input id="description" type="text" name="description" required="required">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required="required">
    <label for="phone">Phone</label>
    <input id="phone" type="tel" name="phone" required="required">
    <button type="submit">Add project</button>
</form>

<ul>
    {% for project in projects %}
    <li>
        <div>
            <b>Id: {{ project.id }}</b>
            <h2>{{ project.name }}</h2>
            <h4>{{ project.description }}</h4>
            <b>Email: {{ project.email }}</b>
            <br>
            <b>Phone: {{ project.phone }}</b>
            <br>
            <button data-id="{{ project.id }}">&cross;</button>
        </div>
    </li>
    {% endfor %}
</ul>

<template>
    <li>
        <div>
            <b class="id"></b>
            <h2 class="name"></h2>
            <h4 class="description"></h4>
            <b class="email"></b>
            <br>
            <b class="phone"></b>
            <br>
            <button>&cross;</button>
        </div>
    </li>
</template>

<script>
    form = document.querySelector('form');
    form.onsubmit = function (e) {
        e.preventDefault();
        let name = document.getElementById('name').value;
        let description = document.getElementById('description').value;
        let email = document.getElementById('email').value;
        let phone = document.getElementById('phone').value;
        fetch('/projects', {
            method: 'POST',
            body: JSON.stringify({
                'name': name,
                'description': description,
                'email': email,
                'phone': phone
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function (response) {
            return response.json()
        }).then(function (jsonResponse) {
            console.log(jsonResponse);
            if (jsonResponse['success']) {
                template = populateTemplate(jsonResponse['project']['id'], name, description, email, phone);
                ul = document.querySelector('ul');
                ul.appendChild(template);
            } else {
                alert('Error adding volunteer');
            }
        }).catch(function (e) {
            console.log(e);
            alert('Error adding volunteer');
        })
    }

    function populateTemplate(id, name, description, email, phone) {
        template = document.querySelector('template');
        template = template.content.cloneNode(true);
        idNode = template.querySelector('.id');
        idNode.innerHTML = 'Id: ' + id;
        nameNode = template.querySelector('.name');
        nameNode.innerHTML = name;
        descriptionNode = template.querySelector('.description');
        descriptionNode.innerHTML = description;
        emailNode = template.querySelector('.email');
        emailNode.innerHTML = email;
        phoneNode = template.querySelector('.phone');
        phoneNode.innerHTML = phone;
        deleteButton = template.querySelector('button');
        deleteButton.setAttribute('data-id', id);
        addDeleteButtonClickListener(deleteButton);
        return template;
    }
</script>

<script>
    deleteButtons = document.querySelectorAll('li button');
    deleteButtons.forEach(function (button) {
        addDeleteButtonClickListener(button);
    })

    function addDeleteButtonClickListener(button) {
        button.onclick = function (e) {
            project_id = e.target.dataset['id']
            fetch('/projects/' + project_id, {
                method: 'DELETE'
            }).then(function (response) {
                return response.json()
            }).then(function (jsonResponse) {
                if (jsonResponse['success']) {
                    ul = document.querySelector('ul');
                    ul.removeChild(e.target.parentNode.parentNode);
                } else {
                    alert('Error deleting the project');
                }
            }).catch(function (e) {
                console.log(e);
                alert('Error deleting the project');
            })
        }
    }
</script>

</body>
</html>